{% extends 'base.html.twig' %}

{% block title %}Hashtags tracked{% endblock %}

{% block body %}
    <div class="row justify-content-md-center">
        <div class="table-responsive">
            {% if hashtags is not empty %}
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th colspan="2">Hashtag</th>
                    </tr>
                </thead>
                <tbody>
                {% for hashtag in hashtags %}
                    <tr>
                        <td>{{  hashtag.getName() }}</td>
                        <td class="text-right"><a href="/hashtag/{{ hashtag.getId().toString() }}" class="btn btn-secondary btn-sm">Random Tweet</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}

